<!DOCTYPE html>
<html>
  <head>
    <title>Components | Frint</title>
  </head>

  <body>
    <nav class="nav">
      <div class="container">
        <div class="nav-left">
  <a href="/" class="nav-item brand">
    <img alt="Frint" class="dark" src="/img/frint-logo-7a7a7a.png" />
    <img alt="Frint" class="light" src="/img/frint-logo-fff.png" />
  </a>

  <a href="/docs" class="nav-item is-tab">
    Documentation
  </a>

  <a href="/guides" class="nav-item is-tab">
    Guides
  </a>

  <a href="/repl" class="nav-item is-tab">
    REPL
  </a>

  <a href="/about" class="nav-item is-tab">
    About
  </a>
</div>

<div class="nav-right">
  <div class="field nav-item">
    <p class="control has-icon">
      <input id="doc-search-text-box" class="input" type="text" placeholder="Search...">
      <span class="icon is-small">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
</div>

      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <div class="menu-container docs">
  <aside class="menu docs">
    <p class="menu-label">
      Step by step guides
    </p>

    <ul class="menu-list">
      <li><a href="/guides/hello-world">Hello World</a></li>
    </ul>

    <p class="menu-label">
      Concepts
    </p>

    <ul class="menu-list">
      <li><a href="/guides/apps">Apps</a></li>
      <li><a href="/guides/providers">Providers</a></li>
      <li><a href="/guides/components">Components</a></li>
      <li><a href="/guides/regions">Regions</a></li>
      <li><a href="/guides/observables">Observables</a></li>
      <li><a href="/guides/higher-order-components">Higher-Order Components</a></li>
    </ul>

    <p class="menu-label">
      How TOs
    </p>

    <ul class="menu-list">
      <li><a href="/guides/state-management">State management</a></li>
    </ul>

    <ul class="menu-list">
      <li><a href="/guides/routing">Routing</a></li>
    </ul>

    <p class="menu-label">
      Advanced
    </p>

    <ul class="menu-list">
      <li><a href="/guides/code-splitting">Code splitting</a></li>
      <li><a href="/guides/async-loading">Async loading</a></li>
    </ul>
  </aside>
</div>

          </div>

          <div class="column content">
            <h1 id="components">Components</h1>
<!-- MarkdownTOC depth=1 autolink=true bracket=round -->
<ul>
<li><a href="#what-is-a-component">What is a Component?</a></li>
<li><a href="#how-to-create-a-component">How to create a component?</a></li>
<li><a href="#assigning-your-root-component-to-app">Assigning your root component to App</a></li>
<li><a href="#rendering-your-app">Rendering your App</a></li>
</ul>
<!-- /MarkdownTOC -->
<h2 id="what-is-a-component-">What is a Component?</h2>
<p>A component can be any function that renders your view. We use <a href="https://facebook.github.io/react/">React</a> for creating our Components, and support it officially in frint with the <code>frint-react</code> package.</p>
<h2 id="how-to-create-a-component-">How to create a component?</h2>
<p>With React:</p>
<pre><code class="lang-js">import React, { Component } from &#39;react&#39;;

class MyComponent extends Component {
  render() {
    return &lt;p&gt;Hello World&lt;/p&gt;;
  }
}
</code></pre>
<h2 id="assigning-your-root-component-to-app">Assigning your root component to App</h2>
<p>We can do it as a provider, with a special reserved key called <code>component</code>:</p>
<pre><code class="lang-js">import { createApp } from &#39;frint&#39;;

const App = createApp({
  name: &#39;MyApp&#39;,
  providers: [
    {
      name: &#39;component&#39;,
      useValue: MyComponent
    }
  ]
});
</code></pre>
<h2 id="rendering-your-app">Rendering your App</h2>
<p>Now that you have an App with a Component, it can be rendered to DOM:</p>
<pre><code class="lang-js">import { render } from &#39;frint-react&#39;;

const app = new App();
render(app, document.getElementById(&#39;root&#39;));
</code></pre>
<p>The code above assumes your HTML page markup looks like this:</p>
<pre><code class="lang-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;div id=&quot;root&quot;&gt;&lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>

          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>FrintJS</strong> by <a href="https://travix.com">Travix International B.V.</a>.
        The source code is licensed under
        <a href="https://github.com/Travix-International/frint/blob/master/LICENSE">MIT</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/Travix-International/frint">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>


    <style>
  .github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-solarizedlight.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<link rel="stylesheet" href="/css/site.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
<script src="/js/site.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: '897a7279c47670a5c4b474ee84350387',
  indexName: 'frint.js',
  inputSelector: '#doc-search-text-box',
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93673400-1', 'auto');
  ga('send', 'pageview');
</script>

  </body>
</html>
